

<div class="page-container">
    <!-- LEFT PANEL -->
    <div class="left-half">
        <div class="flex justify-center flex-col items-center pt-24">
            <img class="w-96" src="/assets/img/logo-unicor.png" alt="" />
            <h1 class="text-white text-3xl text-center font-semibold">CardUnicor, lleva contigo un carnet digital</h1>
        </div>
    </div>
    <!-- RIGHT PANEL -->
    <div class="right-half">
        <div class="flex justify-center flex-col items-center pt-24">
            <h1 class="text-4xl font-semibold">Bienvenid@ a CardUnicor</h1>
            <app-info-alerts></app-info-alerts>
            <div class="pt-10 w-2/3">
              
              <app-form-login></app-form-login>
            </div>
            

  
        </div>
    </div>

</div>